/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  line-height: 1.5;
}

body {
  height: 100%;

  padding: 1%;
  background-color: #f0060617;
  /* background: linear-gradient(45deg,rgba(255, 234, 0, 0.477),#f19d027a,#ff634869); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: linear-gradient(45deg,rgba(255, 234, 0, 0.32),#f1790271,#ff63485f);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;


  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 10px 50px rgba(5, 5, 5, 0.17);
  width: 100%;
  max-width: 550px;
  max-height: 850px;
  text-align: center;

  /* overflow-y: scroll; */

}

/* Logo */
.logo {
  margin-bottom: 1.5rem;
}

.logo img {
  height: 10rem;
  width: auto;
}

/* Form */
.form {
  width: 100%;

}

.form form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form label {
  font-weight: 400;
  text-align: left;
  opacity: 0.8;
}

.form input {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 0.6rem;
  font-size: 1rem;
  background-color:#ffffff;
}

.form input[type="submit"]:hover {
  background-color: #0056b3;
}

/* Links */
.links {
  text-align: center;
  margin-top: 1rem;
}

.links a {
  color: #007bff;
  text-decoration: none;
  font-size: 0.9rem;
  display: block;
  margin: 0.5rem 0;
}

.links a:hover {
  text-decoration: underline;
}

